# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
*.Rproj
*.sh
# RStudio files
.Rproj.user/
# Other files
.Ruserdata
.Rproj.user
Stan/*.rds
vandemeulebroecke.R
Fits/fit.vande.peregrine.RData
#Folders
